.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

	.title {
		display: flex;
		flex-direction: row;
		gap: 10px;

		.heading {
			// width: 40%;
			font-size: 1.5em;

			align-items: center;
			font-weight: bold;
			margin: 5px;
			background-color: #f8f9fa;
			border-bottom: 20px solid #e9ecef;
			border-radius: 300px;
			padding: 5px;

			h1 {
				color: #6c6e6f;
				text-align: center;
				width: 100%;
				text-shadow: -2px 2px 4px rgba(67, 64, 64, 0.5);
			}
		}
	}

	.sub-heading {
		width: 100%;
		font-size: 1em;
		align-items: center;
		margin: 5px;
		background-color: #f8f9fa;
		border-bottom: 10px solid #e9ecef;
		border-radius: 10px;

		.sub-sub {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 5px;

			button {
				background-color: #e77373;
				color: white;
				border: none;
				padding: 5px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 20px;
				box-shadow: 0 4px 6px #da8383;
				&:hover {
					background-color: #cc0000;
				}
			}
		}
		h2 {
			font-size: 1.2em;
			font-weight: bold;
			margin: 5px;
		}
		.pastehere {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 10px;

			button {
				background-color: #739bc5;
				color: white;
				border: none;
				padding: 5px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 20px;
				&:hover {
					background-color: #023a67;
				}
			}
		}
		.pt-margin {
			margin: 10px;
		}

		.paste-input {
			input {
				width: 85%;
				padding: 10px;
				margin-left: 20px;
				border: 1px solid #000;
				border-radius: 5px;
				font-size: small;
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
					'Lucida Sans', Arial, sans-serif;
			}
			textarea {
				width: 85%;
				padding: 20px;
				margin: 20px;
				border: 1px solid #000;
				border-radius: 5px;
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
					'Lucida Sans', Arial, sans-serif;
			}
		}
	}
	.copied-text {
		width: 100%;
		font-size: 1em;
		align-items: center;
		margin: 5px;
		background-color: #f8f9fa;
		border-bottom: 10px solid #e9ecef;
		border-radius: 10px;

		.paste-input {
			input {
				width: 85%;
				padding: 10px;
				margin-left: 20px;
				border: 1px solid #000;
				border-radius: 5px;
				font-size: small;
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
					'Lucida Sans', Arial, sans-serif;
			}
			textarea {
				width: 85%;
				padding: 20px;
				margin: 20px;
				border: 1px solid #000;
				border-radius: 5px;
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
					'Lucida Sans', Arial, sans-serif;
			}
		}
		.copy-here {
			h3 {
				font-size: 1.1em;
				font-weight: bold;
				margin: 5px;
			}
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 10px 10px -10px 15px;

			.button-group {
				display: flex;
				gap: 8px;
			}

			.delete-btn {
				background-color: #ef5757;
				color: white;
				border: none;
				padding: 5px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 20px;
				&:hover {
					background-color: #cc0000;
				}
			}

			.copy-btn {
				background-color: #ec8ab8;
				color: white;
				border: none;
				padding: 5px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 20px;
				&:hover {
					background-color: #e95299;
				}
			}
		}
	}
}
